<%- include("partials/header") -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="titleInput">Title</label>
    <input class="form-control" type="text" id="titleInput" aria-describedby="titleInput" name="postTitle">
  </div>
  <div class="form-group">
    <label for="postBody">Post</label>
    <textarea class="form-control" id="postBody" name="postBody" rows="3" style="resize: vertical;"></textarea>
  </div>
  <button type="submit" class="btn btn-primary" name="button">Publish</button>
</form>

<%- include("partials/footer") -%>